@import "src/styles/colors";
.navBarContainer{
  padding: 10px;
}

.form {
  background-color: $bgLighter;
  padding: 15px;
  border-radius: 5px;
  color: $textColor;
  label{
    display: block;
    margin-bottom: 0.3em;
  }
  input {
    display: block;
    margin-bottom: 0.7em;
    border-radius: 5px;
    outline: none;
    padding: 5px 5px;
    border: none;
  }

  input[type="file"] {
    display: none;
  }

  .mapSelector{
    padding: 20px 0 0px;
  }
  .mapItem{
    margin: 10px 0;
    border: 2px $mainColor dashed;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 1s ease;
  }

  .mapItem:hover{
    background: #565555;
  }

  button{
    border: none;
    ountline: none;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    background: $mainColor;
    transition: background-color 0.3s ease;
    cursor: pointer;

  }
  button:hover{
    background: rgba(77, 208, 225, 0.8);
  }
}

.modeSelector{
  display: flex;
  margin-bottom: 15px;
  div{
    width: 1.5em;
    color: #4dd0e1;
    background: $mainColor;
    padding: 8px 6px 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 1.5em;
  }
  div:not(:first-of-type){
    margin-left: 0.6em;
  }
  div:last-of-type{
    margin-left: auto;
  }
  div:hover{
    background: rgba(77, 208, 225, 0.8);
  }
  svg{width: 1.15em;fill: #454557D8;}
}